body {
    padding: 0;
    margin: 0;
    font-family: monospace;
}

.header {
    background-color: orange;
    color: white;
    height: 16vh;
    font-size: 14vh;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-grow: 3;
}

.title {
    margin-left: 5vw;
    margin-right: 5vw;
}

.mainContent {
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

#map {
    height: 80vh;
    width: 80vw;
}

.marker-cluster {
    background-clip: padding-box;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 3px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.marker-cluster div {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
}

.marker-cluster-green {
    background-color: #38b000;
}

.marker-cluster-orange {
    background-color: #f8961e;
}

.marker-cluster-red {
    background-color: #d00000;
}

.meny {
    background-color: green;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 20vw;
}

.blogg-knapp {
    background-color: orange;
    color: white;
    border-width: 2px;
    border-radius: 3px;
    border-color: white;
    height: 5vh;
    width: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
    cursor: pointer;
}
